node_modules/
backend/dist/
backend/.env
# Logs
backend/src/logs
.env

apharmacy/.vite
.vscode/
patients/.vite
patients/dist/
patients/.env
patients/.expo
admin/.vite
admin/dist/
admin/.env
apharmacy/dist/
apharmacy/.env